<section class="books">
    <div class="books-image"></div>
    <div class="book-list">
        <div class="wrapper">
            <h2>books</h2>
            <ul>
                <li>Book 1</li>
                <li>Book 1</li>
                <li>Book 1</li>
                <li>Book 1</li>
                <li>Book 1</li>
                <li>Book 1</li>
                <li>Book 1</li>
                <li>Book 1</li>
                <li>Book 1</li>
                <li>Book 1</li>
                <li>Book 1</li>
            </ul>
        </div>
    </div>
</section>