<section class="books">
    <h2>Notable book appearances</h2>
    <div class="wrapper">
        <div class="book">
            <a href="https://www.papress.com/html/product.details.dna?isbn=9781616895280" target="_blank">
                <img src="/img/book-of-circles.jpg" alt="">
            </a>
            <div class="title">The book of Circles</div>
            <div class="author">Manuel Lima</div>
            <div class="year">2017</div>
        </div>
        <div class="book">
            <a href="https://www.amazon.fr/Manuel-datavisualisation-M%C3%A9thodes-Cas-pratiques/dp/210073881X" target="_blank">
                <img src="/img/manuel-de-data-visualisation.jpg" alt="">
            </a>
            <div class="title">Manuel de data visualisation</div>
            <div class="author">Jean Marie Lagnel</div>
            <div class="year">2017</div>
        </div>
        <div class="book">
            <a href="http://shop.oreilly.com/product/0636920026938.do" target="_blank">
                <img src="/img/interactive-data-visualization-for-the-web.jpg" alt="">
            </a>
            <div class="title">Interactive data visualizaton for the web</div>
            <div class="author">Scott Murray</div>
            <div class="year">2017</div>
        </div>
        <div class="book">
            <a href="https://www.amazon.com/Data-Visualization-Success-Interviews-Experienced/dp/1864707208" target="_blank">
                <img src="/img/data-visualization-for-success.jpg" alt="">
            </a>
            <div class="title">Data visualization for success</div>
            <div class="author">Steven Braun</div>
            <div class="year">2017</div>
        </div>
        <div class="book">
            <a href="https://www.amazon.com/Data-Visualisation-Handbook-Driven-Design/dp/1473912148" target="_blank">
                <img src="/img/data-visualisation.jpg" alt="">
            </a>
            <div class="title">Data visualisation</div>
            <div class="author">Andy Kirk</div>
            <div class="year">2016</div>
        </div>
        <div class="book">
            <a href="https://www.amazon.com/Best-American-Infographics-2016-%C2%AE/dp/0544556380" target="_blank">
                <img src="/img/the-best-american-infographics-2016.jpg" alt="">
            </a>
            <div class="title">The best American infographics 2016</div>
            <div class="author">Gareth Cook</div>
            <div class="year">2016</div>
        </div>
        <div class="book">
            <a href="https://www.springer.com/gp/book/9781447165958" target="_blank">
                <img src="/img/new-challenges-for-data-design.jpg" alt="">
            </a>
            <div class="title">New challenges for data design</div>
            <div class="author">David Behanic</div>
            <div class="year">2015</div>
        </div>
        <div class="book">
            <a href="http://www.papress.com/html/product.details.dna?isbn=9781616892180" target="_blank">
                <img src="/img/book-of-trees.jpg" alt="">
            </a>
            <div class="title">The book of Trees</div>
            <div class="author">Manuel Lima</div>
            <div class="year">2014</div>
        </div>
        <div class="book">
            <a href="https://www.amazon.com/Best-American-Infographics-2013/dp/B00LH5T0QM" target="_blank">
                <img src="/img/the-best-american-infographics-2013.jpg" alt="">
            </a>
            <div class="title">The best American infographics</div>
            <div class="author">Gareth Cook</div>
            <div class="year">2013</div>
        </div>
        <div class="book">
            <a href="https://www.amazon.com/gp/product/0321834739/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0321834739&linkCode=as2&tag=thefunart03-20&tag=donations09-20" target="_blank">
                <img src="/img/the-functional-art.jpg" alt="">
            </a>
            <div class="title">The functional art</div>
            <div class="author">Alberto Cairo</div>
            <div class="year">2013</div>
        </div>
        <div class="book">
            <a href="https://www.amazon.com/Design-Information-Introduction-Histories-Visualizations/dp/1592538061" target="_blank">
                <img src="/img/design-for-information.jpg" alt="">
            </a>
            <div class="title">Design for information</div>
            <div class="author">Isabel Meirelles</div>
            <div class="year">2013</div>
        </div>
        <div class="book">
            <a href="https://www.amazon.com/Infographic-Design-Charts-David-Choi/dp/1611750326" target="_blank">
                <img src="/img/infographic-design.jpg" alt="">
            </a>
            <div class="title">Infographic design</div>
            <div class="author">Choi's Gallery</div>
            <div class="year">2012</div>
        </div>
    </div>
</section>