<section class="logo-container">
    <!-- <h2>Selected clients</h2> -->
    <div class="logos">
        <div class="logo">
            <img src="/img/logos/esa.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/sciam.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/google.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/nature.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/wef.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/rwdi.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/wfp.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/unicef.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/nielsen.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/schiphol.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/philips.svg" alt="">
        </div>
        <div class="logo">
            <img src="/img/logos/popsci.svg" alt="">
        </div>
    </div>
</section>