<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="img/logo.png" alt="TULP interactive" class="img-responsive">
        </a>
    </div>
    
    <div class="navbar-menu">
        <div class="navbar-end">
            {{ range sort .Site.Menus.main "Weight" "asc" }}
                <a href="{{ .URL }}" class="navbar-item">{{ .Name }}</a>
            {{ end }}
        </div>
    </div>
</nav>