<section class="my-story">
    <h2>My story</h2>
    <div class="my-story-container">
        <img src="/img/me_working.jpg" alt="me working">
        <div>
            <p>Being raised in a creative family, my wish as a child had always been to become an artist. Yet at an early age I found
                out that the world of computers fascinated me also. So, as a synthesis, I decided to study interaction design, hoping
                to find a job where I could apply my skills both on design and software.</p>
            <p>After my study, it appeared that the jobs I was looking for were hard to find. When I look back now, I clearly see how
                my career repeatedly switched between working for very creative companies that always appeared to offer too little
                technical challenge for me, and working for very technical companies where there was not enough work that met my
                need for designing.</p>
            <p>In 2010 I found out that there existed such a thing as data visualization. For me that was, and still is, the ultimate
                combination of software, design and interaction. I decided to become a freelancer. One year later I started my company
                TULP Interactive. This turned out to be the right choice: I have been creating data visualizations ever since.
            </p>
            </p>
        </div>
    </div>
</section>