<section class="my-story">
    <h2>My story</h2>
    <div>
        <p>Coming from a creative family, I wanted to become an artist when I was a kid. I also discovered at a young age that
            computers are fascinating. And so, I studied interaction design, hoping to find a job where I could work on both
            design and software. That turned out to be hard to find at that time. Looking back, I've switched between very
            creative companies where the technical challenge was lacking for me, and very technical companies where I didn't
            have enough opportunity to work on design.
        </p>
        <p>In 2010 I discovered the existence of data visualization, and for me that was, and still is, the ultimate combination
            of software, design and interaction. I prepared to become a freelancer, and in 2011 I started my company TULP
            interactive. And I have been creating data visualizations ever since.
        </p>
    </div>
</section>