<div class="newsletter-signup">
  <form style="text-align:center;" action="https://tinyletter.com/tulpinteractive" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/tulpinteractive', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <!-- <input type="text" name="email" id="tlemail" placeholder="Enter your email address" /> -->
    <div class="field">
      <label class="label">Subscribe to my newsletter</label>
      <div class="control has-icons-left has-icons-right">
        <input id="tlemail" name="email" class="input" type="email" placeholder="Enter your email address" value="">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>
    <input type="hidden" value="1" name="embed" />
    <div class="control">
      <input class="button is-link" type="submit" value="subscribe" />
    </div>
  </form>
</div>