<div class="social">
  <div>
    <a href="https://twitter.com/JanWillemTulp" target="_blank">
      <i class="fab fa-twitter"></i>@JanWillemTulp
    </a>
  </div>
  <div>
    <a href="https://nl.pinterest.com/janwillemtulp/" target="_blank">
      <i class="fab fa-pinterest"></i>janwillemtulp
    </a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/janwillemtulp/" target="_blank">
      <i class="fab fa-linkedin"></i>janwillemtulp
    </a>
  </div>
  <div class="privacy-statement">
    <a href="">privacy statement</a>
  </div>
</div>