<section class="workshops">
    <h2>Workshops</h2>
    <div class="workshop">
        <h3>Dataviz Fundamentals</h4>
            <p>An introduction to the principles of data visualization design. The goal of the workshop is to increase data-
                and visual literacy. No experience required. No computer is required during the workshop — all exercises
                are done with pen and paper.</p>
            <a class="request-info" href="mailto:info@tulpinteractive.com?subject=Request for information about the Dataviz Fundatmentals workshop"
                target="_blank">request info</a>
    </div>
    <div class="workshop">
        <h3>Introduction D3</h3>
        <p>An introduction to creating visualizations with
            <a href="http://d3js.org" target="_blank">D3</a>. The goal of the workshop is to learn the most common parts and usage of the D3 visualization library.
            Basic programming skills are required.</p>
        <a class="request-info" href="mailto:info@tulpinteractive.com?subject=Request for information about the Introduction D3 workshop"
            target="_blank">request info</a>
    </div>
</section>