@import 'reset-css/reset.css';

body {
    font-family: 'Futura-pt', sans-serif;
    /* text-rendering: optimizeLegibility; */
    /* font-feature-settings: "kern" on; */
    background-color: #e9eeef;
}

p {
    line-height: 2rem;
    font-size: 1.2rem;
}

main {
    margin-top: 80px;
    margin-bottom: 150px;
    padding-top: 100px;
}

.about .container { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 50px;
    background-color: #dce4e5;
    box-shadow: 5px 5px 27px rgba(0, 0, 0, 0.1);
    border: 1px solid #b6bcbd1a;
}

.about h1, .about h2, .about h3, .about h4 {
    color: #3a555a;
}

.about h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.2em;
}

.about section {
    margin-bottom: 40px;
}

.about .me {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
}

.about .me img {
    width: 100%;
}

.about .service {
    grid-column: 5 / 13;
}

.about .speaking {
    grid-column: 1 / 13;
    grid-row-start: 3;
    background-color: #001c53;
}

.about .wrapper {
    padding: 20px;
}

.about .speaking, .about .speaking h2, .about .speaking h4 {
    color: rgba(255, 255, 255, 0.9);
}

.about .logo-container {
    grid-column: 5 / 13;
}

.about .logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 2px;
}

.about .logo {
    /* background-color: #d6dfe1; */
    display: flex;
    align-content: center;
    justify-content: center;
    /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); */
}

.about .logo img {
    padding: 1.3rem 2.6rem;
    max-height: 100px;
    filter: invert(1) brightness(0.4) sepia(1) hue-rotate(160deg) grayscale(0.2) opacity(0.7);
}

.about .my-story {
    grid-column: 1 / 7;
}

.about .my-story div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.about .my-story p { 
    line-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.office-data-art {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 5px 5px 27px rgba(0, 0, 0, 0.1);
}

.office-data-art > .description {
    grid-column: 1 / 2;
    padding: 70px;
    background-color: #fcfcfc;
    text-align: center;
}

.office-data-art > .description > h1 {
    margin-bottom: 30px;
}

.office-data-art > .description button {
    color: white;
    background-color: #BB2025;
    padding: 10px 15px;
    margin-top: 50px;
    border: none;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Futura-pt', sans-serif;
}

.office-data-art > .example-image {
    grid-column: 2 / 3;
    background-image: url('/img/office-data-art.jpg');
    background-size: cover;
}

.office-data-art img {
    object-fit: cover;
}

h1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 2.3rem;
}

.gallery {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.gallery article {
    border: 1px solid red;
}

footer {
    background-color: hsla(190, 16%, 89%, 1);
    width: 100%;
    height: 280px;
    border-top: 1px solid hsla(190, 17%, 85%, 1);
}

footer .main-footer-content.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    padding: 0 35px;
}

footer .sticky-contact {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: hsla(194, 37%, 7%, 0.9);
    font-weight: 400;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #ba2126;
}

footer .sticky-contact i {
    margin-right: 4px;
}

footer .sticky-contact a {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

footer .sticky-contact a:hover {
    border-bottom-style: solid;
}

footer .sticky-contact .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    align-items: center;
    justify-items: center;
    height: 40px;
}

footer .sticky-contact .container div:first-child {
    justify-self: start;
}

footer .sticky-contact .container div:last-child {
    justify-self: end;
}

footer .sticky-contact .social span {
    margin-right: 6px;
    font-size: 1.2em;
}

footer .sticky-contact .social a {
    border: none;
}

.contact-details {
    color: hsla(190, 86%, 20%, 0.7);
}

.contact-details .company-name {
    font-weight: 700;
    margin-bottom: 10px;
}

nav {
    height: 80px;
    background-color: #e9eeef;;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 20px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    padding: 0 20px;
}

nav .menu, nav .brand {
    padding: 15px;
}

nav .menu {
    justify-self: end;
    align-self: center;
}

nav .menu a {
    color:  hsla(190, 86%, 20%, 0.7);
    margin-left: 20px;
}

nav .brand img {
    width: 50%;
}

main .container {
    display: grid;
    justify-content: space-around;
}

article {
    display: grid;
    margin-bottom: 60px;
    width: 100%;
    box-shadow: 5px 5px 27px rgba(0, 0, 0, 0.1);
    grid-template-rows: 1fr 512px;
    /* grid-auto-rows: minmax(auto, 512px); */
}

.feature-text {
    padding: 50px;
    /* padding: 3vw; */
    background-color: #fcfcfc;
}

.project-client h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #aaa;
}

.project-title h1 {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 0;
    color: #000;
}

.project-tagline {
    display: block;
    line-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.project-description {
    margin-bottom: 20px;
    display: none;
}

.project-description p {
    line-height: 2rem;
    font-size: 1.2rem;
}

.project-description a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted #4a4a4a;
}

.project-description a:hover {
    border-bottom-style: solid;
}

.project-link {
    margin-top: 40px
}

.project-link a {
    padding: 15px 25px;
    border: 2px solid #4a4a4a;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: transparent;
    color: black;
}

.feature-image img {
    display: block;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    article {
        /* grid-auto-rows: 512px; */
        grid-template-rows: 512px;
        /* grid-template-columns: 448px, auto; */
    }

    article.odd {
        grid-template-columns: 384px 1fr;
    }

    article.even {
        grid-template-columns: 1fr 384px;
    }

    article.odd .feature-text {

    }

    article.odd .feature.image {

    }

    article.even .feature-text {
        grid-column-start: 2;
        grid-row: 1;
    }

    article.even .feature-image {
        grid-column-start: 1;
        grid-row: 1;
    }

    .project-title h1 {
        margin-bottom: 20px;
    }

    .project-description {
        display: block;
    }

    .project-tagline {
        display: none;
    }

    /* article {
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 512px;
    }

    article.odd .feature-text {
        grid-column: 9 / span 4;
        grid-row: 1;
    }

    article.odd .feature-image {
        grid-column: 1 / span 8;
    }

    article.even .feature-text {
        grid-column: 1 / span 4;
    }

    article.even .feature-image {
        grid-column: 5 / span 8;
    } */
}

@media (min-width: 1024px) {
    footer .main-footer-content.container {
        padding: 0;
    }
}
