{{ define "main" }}
<main class="container">
    <div class="feature-image">
        <img src="img/briscione.png" alt="">
    </div>
    <div class="feature-text">
        <div class="project-client">
            <h3>Chef James briscione</h3>
        </div>
        <div class="project-title">
            <h1>The Flavor Matrix</h1>
        </div>
        <div class="project-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores explicabo ut quod vero. Illum harum
                quisquam maiores similique omnis vitae, iste facilis eius fuga, a sunt ipsam eaque sint?</p>
        </div>
        <div class="project-buttons">
            <button class="view-project">view project</button>
            <button>read more</button>
        </div>
    </div>
    <div class="feature-text">
        <div class="project-client">
            <h3>Scientific American</h3>
        </div>
        <div class="project-title">
            <h1>Eclipse Sprial</h1>
        </div>
        <div class="project-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores explicabo ut quod vero. Illum harum
                quisquam maiores similique omnis vitae, iste facilis eius fuga, a sunt ipsam eaque sint?</p>
        </div>
        <div class="project-buttons">
            <button class="view-project">view project</button>
            <button>read more</button>
        </div>
    </div>
    <div class="feature-image">
        <img src="img/eclipse_spiral.png" alt="">
    </div>
    <div class="feature-image">
        <video src="video/starmapper.mp4" autoplay="true" loop="true"></video>
    </div>
    <div class="feature-text">
        <div class="project-client">
            <h3>European Space Agency</h3>
        </div>
        <div class="project-title">
            <h1>Star Mapper</h1>
        </div>
        <div class="project-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores explicabo ut quod vero. Illum harum
                quisquam maiores similique omnis vitae, iste facilis eius fuga, a sunt ipsam eaque sint?</p>
        </div>
        <div class="project-buttons">
            <button class="view-project">view project</button>
            <button>read more</button>
        </div>
    </div>
    <div class="feature-text">
        <div class="project-client">
            <h3>Het Nieuwe Instituut</h3>
        </div>
        <div class="project-title">
            <h1>Architecture Archive</h1>
        </div>
        <div class="project-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores explicabo ut quod vero. Illum harum
                quisquam maiores similique omnis vitae, iste facilis eius fuga, a sunt ipsam eaque sint?</p>
        </div>
        <div class="project-buttons">
            <button class="view-project">view project</button>
            <button>read more</button>
        </div>
    </div>
    <div class="feature-image">
        <img src="img/wwa.png" alt="">
    </div>
    <div class="feature-image">
        <img src="img/wwa.png" alt="">
    </div>
    <div class="feature-text">
        <div class="project-client">
            <h3>Scientific American</h3>
        </div>
        <div class="project-title">
            <h1>The Flavor Connection</h1>
        </div>
        <div class="project-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores explicabo ut quod vero. Illum harum
                quisquam maiores similique omnis vitae, iste facilis eius fuga, a sunt ipsam eaque sint?</p>
        </div>
        <div class="project-buttons">
            <button class="view-project">view project</button>
            <button>read more</button>
        </div>
    </div>
    <div class="feature-text">
        <div class="project-client">
            <h3>Deltares</h3>
        </div>
        <div class="project-title">
            <h1>World Water Atlas</h1>
        </div>
        <div class="project-description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores explicabo ut quod vero. Illum harum
                quisquam maiores similique omnis vitae, iste facilis eius fuga, a sunt ipsam eaque sint?</p>
        </div>
        <div class="project-buttons">
            <button class="view-project">view project</button>
            <button>read more</button>
        </div>
    </div>
    <div class="feature-image">
        <img src="img/wwa.png" alt="">
    </div>
</main>
{{ end }}