{{ define "main" }}

<main class="container">

    {{ range $index, $element := (where (where .Site.AllPages "Section" "project") ".Kind" "==" "page") }}
        {{ $oddeven := cond (eq (mod $index 2) 0) "even" "odd" }}
        <article class="{{ $oddeven }}">
            <div class="feature-text">
                <div class="project-client">
                    <h3>{{ .Params.client }}</h3>
                </div>
                <div class="project-title">
                    <h1>{{ .Title }}</h1>
                </div>
                <div class="project-tagline">
                    <p>{{ .Params.tagline }}</p>
                </div>
                <div class="project-description">
                    <p>{{ .Content }}</p>
                </div>
                {{ if isset .Params "link" }}
                    <div class="project-link">
                        <a href="{{ .Params.link }}" class="view-project">view project</a>
                    </div>
                {{ end }}
            </div>
            <div class="feature-image">
                <img src="img/{{ .Params.image }}" alt="">
            </div>
        </article>
    {{ end }}

</main>
{{ end }}