{{ define "main" }}

<main class="about">
  <div class="container">
   
    {{ partial "service" . }}
    {{ partial "speaking" . }}

    <section class="exposure">
      <div class="wrapper">
        {{ partial "awards" . }}
        {{ partial "exhibition" . }}
        {{ partial "judging" . }}
      </div>
    </section>

    {{ partial "books" . }}
    
    <!-- {{ partial "workshop" . }} -->
    {{ partial "my-story" . }}
    <!-- {{ partial "office-data-art" . }} -->
    
  </div>
</main>

{{ end }}