{{ define "main" }}

<main class="about">
  <div class="container">
   
    <div class="me">
      <img src="/img/me.png" width="50%" alt="">
    </div>

    {{ partial "service" . }}
    {{ partial "client-logos" . }}
    {{ partial "speaking" . }}
    {{ partial "awards" . }}
    {{ partial "exhibition" . }}
    {{ partial "judging" . }}
    {{ partial "books" . }}
    {{ partial "workshop" . }}
    {{ partial "my-story" . }}
 
    <div class="office-data-art">
      <div class="description">
        <h1>Office Data Art</h1>
        <p>Many organizations have art on the wall.
          But wouldn't it be even greater if that piece of art was a unique representation of your company?
          An abstract image, based on data of your organization.</p>
        <button>download PDF brochure</button>
      </div>
      <div class="example-image">
        <!-- <img src="/img/office-data-art.jpg" alt="Office Data Art"> -->
      </div>
    </div>
    
  </div>
</main>

{{ end }}