{{ define "main" }}

<main class="about">
  <div class="container">
   
    {{ partial "service" . }}
    {{ partial "speaking" . }}

    <section class="exposure">
      <div class="wrapper">
        {{ partial "awards" . }}
        {{ partial "exhibition" . }}
        {{ partial "judging" . }}
      </div>
    </section>
    
    {{ partial "workshops" . }}
    {{ partial "books" . }}
    
    {{ partial "my-story" . }}
    {{ partial "data-art" . }}

     {{ partial "newsletter-signup" . }}
    
  </div>
</main>

{{ end }}