.about .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 100px;
  background-color: #fdd835;
  box-shadow: 5px 5px 27px rgba(0, 0, 0, 0.15);
  /* border: 1px solid #b6bcbd1a; */
  color: rgba(0, 0, 0, 0.7);
}

.about h1,
.about h2,
.about h3,
.about h4 {
  /* color: #3a555a; */
  color: rgba(0, 0, 0, 0.7);
}

.about h2 {
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
}

.about section {}

/* .about section:last-child {
    margin-bottom: 0;
} */

.about .testimonials {
  background-color: rgb(255, 0, 0);
  grid-column: 1 / 13;
}

.about .service {
  grid-column: 1 / 13;
  padding: 50px 50px 0 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* max-height: 840px; */
  overflow: hidden;
}

.about .service h1 {
  grid-column: 1 / 13;
  margin-bottom: 100px;
  font-size: 2.3rem;
}

.about .service h1 span {
  font-weight: 400;
}

.about .service h2 {
  margin: 40px 0 20px 0;
}

.about .service img {
  align-self: flex-end;
  justify-self: center;
  max-height: 100%;
  grid-column: span 4;
  grid-row: 0 / 3;
}

.about .speaking .conference-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 50px;
  width: 100%;
}

.about .speaking .event-section {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: baseline;
}

.about .speaking .event-list {
  display: grid;
  grid-template-columns: 3fr 2fr 200px;
  font-size: 1.2em;
}

.about .speaking .event-list span {
  font-weight: normal;
  font-size: 0.8em;
  font-style: italic;
}

.about .speaking .name {
  font-weight: bold;
  border-bottom: 1px solid rgba(2, 39, 81, 0.1);
  padding: 3px 0;
}

.about .speaking .name a {
  color: #032851;
  margin-left: 5px;
  font-size: 0.8em;
}

.about .speaking .location {
  border-bottom: 1px solid rgba(2, 39, 81, 0.1);
  padding: 3px 0;
}

.about .speaking .date {
  text-align: end;
  border-bottom: 1px solid rgba(2, 39, 81, 0.1);
  padding: 3px 0;
}

.about .speaking {
  grid-column: 1 / 13;
  grid-row-start: 3;
  background-color: #3fb69a;
}

.about .wrapper {
  padding: 50px;
}

.about .speaking,
.about .speaking h2,
.about .speaking h4 {
  color: rgba(0, 22, 73, 0.9);
}

.about .speaking h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 20px 0 5px 0;
}

.about .logo-container {
  grid-column: 5 / 13;
  margin-bottom: 5vw;
}

.about .logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 8vw; */
  grid-auto-rows: 120px;
  grid-gap: 2px;
  justify-content: center;
  align-items: center;
}

.about .logo {
  display: flex;
  align-content: center;
  justify-content: center;
}

.about .logo img {
  /* padding: 1.3rem 2.6rem; */
  max-width: 60%;
  max-height: 60%;
  /* max-height: 80px; */
  filter: invert(1) brightness(0) sepia(1) hue-rotate(160deg) grayscale(0.2) opacity(0.7);
}

.about .workshops {
  grid-column: 1 / 13;
  padding: 50px;
  background-color: #4a2054;
  color: rgba(255, 255, 255, 0.8);
}

.about .workshops h2 {
  color: white;
}

.about .workshops .workshop h3 {
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: white;
}

.about .workshops .workshop {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 4fr 6fr 2fr;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.about .workshops .workshop a,
.about .workshops .workshop a:link,
.about .workshops .workshop a:active,
.about .workshops .workshop a:visited {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.8);
}

.about .workshops .workshop a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.about .workshops .workshop a.request-info {
  justify-self: end;
  background-color: white;
  padding: 10px 20px;
  height: 40px;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #3e8db6;
  font-weight: bold;
  letter-spacing: 0.05rem;
  /* border-radius: 20px; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 150px;
  text-align: center;
}

.about .books {
  background-color: #28758e;
  padding: 50px;
  grid-column: 1 / 13;
}

.about .books .wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 0;
}

.about .books .wrapper .book {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  text-align: center;
}

.about .books .wrapper .book img {
  max-height: 200px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
}

.about .books .wrapper .book .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.85);
}

.about .books .wrapper .book .year {
  font-weight: normal;
  font-style: italic;
  font-size: 0.8rem;
}

.about .exposure {
  grid-column: 1 / 13;
  background-color: hsl(39, 98%, 60%);
}

.about .exposure .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.about .awards span {
  font-weight: normal;
  font-size: 0.8em;
  font-style: italic;
}

.about .exhibition span {
  font-weight: bold;
}

.about .my-story {
  grid-column: 1 / 13;
  padding: 50px;
  background-color: #77b6d0;
}

.about .my-story img {
  box-shadow: 10px 10px 20px rgb(99, 155, 179);
  border: 19px solid white;
  border-bottom: 70px solid white;
  transform: rotate(-3.9deg);
}

.about .my-story .my-story-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 4fr 8fr;
}

.about .my-story h2 {
  margin-bottom: 20px;
}

.about .my-story p {
  line-height: 2rem;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.about .my-story p span {
  display: block;
  margin-left: 50%;
  margin-top: 30px;
}

.about .data-art {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: 5px 5px 27px rgba(0, 0, 0, 0.1);
}

.about .data-art>.description {
  grid-column: 1 / 6;
  padding: 70px;
  background-color: #fcfcfc;
  text-align: center;
}

.about .data-art>.description>h1 {
  margin-bottom: 30px;
}

.about .data-art>.description button {
  color: white;
  background-color: #BB2025;
  padding: 10px 15px;
  margin-top: 50px;
  border: none;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Futura-pt', sans-serif;
}

.about .data-art>.example-image {
  grid-column: 6 / 13;
  background-image: url('/img/office-data-art.jpg');
  background-size: cover;
  background-position: center center;
}

.about .data-art img {
  object-fit: cover;
}

.about .newsletter-signup {
  grid-column: 4 / 10;
  padding: 20px;
}

.about .newsletter-signup .button {
  color: white;
  background-color: #BB2025;
  border: none;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Futura-pt', sans-serif;
  border-radius: 0;
}

.about .newsletter-signup .control {
  text-align: center;
}

@media screen and (max-width: 1800px) {
  .about .books .wrapper .book {
    padding: 30px;
  }
  .about .books .wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1280px) {
  .about .logos {
    grid-auto-rows: 8vw;
  }
  .about .books .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .about .service h1 {
    font-size: 2.3rem;
  }
  .about .logos {
    grid-template-columns: repeat(3, 1fr);
  }
  .about .speaking .event-section {
    grid-template-columns: none;
  }
  .about .workshops {
    padding: 0;
  }
  .about .workshops h2,
  .about .books h2 {
    padding: 50px;
  }
  .about .books {
    padding: 0;
  }
  .about .books .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .about .books .wrapper .book {
    padding: 20px;
  }
  /* .about .speaking .event-list {
        grid-template-columns: 4fr 2fr 160px;
    } */
}

@media screen and (max-width: 768px) {
  /* @media screen and (max-width: 736px) { */
  .about .logos {
    grid-template-columns: repeat(2, 1fr);
  }
  /* .about .logo img {
        padding: 1.3rem 2.6rem;
    } */
  .about .service img {
    grid-column: span 5;
  }
  .about .service h1 {
    font-size: 4vw;
    margin-bottom: 50px;
  }
  .about .logo-container {
    grid-column: 6 / 13;
  }
  .about .data-art>.description {
    grid-column: 1 / 13;
  }
  .about .data-art>.example-image {
    grid-column: 1 / 13;
    height: 100vw;
  }
  /* .about .workshops .workshop {
        padding: 50px;
        grid-template-columns: 3fr 1fr;
    }
    .about .workshops .workshop h3 {
        grid-column: span 2;
    } */
  .about .workshops .workshop {
    padding: 50px;
    grid-template-columns: 1fr;
  }
  .about .workshops .workshop h3 {
    grid-column: auto;
  }
  .about .exposure .wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .about .speaking .event-list {
    grid-template-columns: none;
  }
  .about .speaking .name {
    grid-column: 1 / 3;
    border-bottom: none;
    padding: 20px 0 0 0;
  }
  .about .my-story .my-story-container {
    grid-template-columns: 1fr;
  }
  .about .newsletter-signup {
    grid-column: 2 / 12;
    padding: 20px;
  }
  .about .books .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .about .books .wrapper .book {
    padding: 20px;
  }
  .about .wrapper {
    padding: 50px;
  }
}

@media screen and (max-width: 480px) {
  .about .service {
    padding: 50px 26px 0 26px;
  }
  .about .container {
    padding-top: 40px;
  }
  .about .newsletter-signup {
    grid-column: 1 / 13;
    padding: 20px;
  }

  .about .wrapper {
    padding: 30px;
  }
}